#desk {
    padding: 20px 0 18px 0;
    position: fixed;
    bottom: 0;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid 1px gray;
    background-color: #1b1b1b;
    z-index: 2147483647;

    overflow-x: auto;

    font-family: monospace;
}
#desk > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


#desk .unit {
    width: 80px;
    height: 80px;
    
    border-radius: 5px;

    color: white;
    text-align: center;
}
#desk .unit:hover {
    cursor: pointer;
    background-color: #414141;
    
    transition: background-color .2s linear;
}

#desk .unit img {
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    width: 40px;
    height: 40px;
}


#desk #keep {
    padding: 5px 30px;
    position: fixed;
    right: 0;
    width: 200px;

    background-color: #1b1b1b;

    z-index: 1;
}
#desk #keep input {
    padding: 0 10px;
    width: 200px;
    height: 27px;

    box-sizing: border-box;
}
#desk #keep button {
    padding: 0;
    width: 200px;
    height: 30px;

    color: #dddddd;
    border: none;
    background-color: #353535;
    
    transition: color .1s linear;
}
#desk #keep button:hover {
    color: white;
    background-color: #5a5a5a;
    cursor: pointer;

    transition: background-color .2s linear, color .2s linear;
}




/* avoid being affected by external css */
#desk * {
    -webkit-box-sizing: unset;
    box-sizing: unset;
}