@import '../../global.scss';


.div {
    padding: 0 #{$paddingHorizontalKeep};
    position: fixed;
    right: 0;
    width: $widthKeep;
    height: calc(#{$height} - 10px);
    
    display: flex;
    align-items: center;

    background-color: #1b1b1b;

    z-index: 1;


    & div {
        & input {
            box-sizing: border-box !important;
            padding: 5px 10px;
            width: 200px;
            height: 32px;

            border-radius: 2px;
            border: solid 1px #b3b3b3;
            background-color: #353535;
            outline: none;

            font-size: 15px;


            &:focus {
                border-color: #dddddd;
            }
        }

        & button {
            padding: 0;
            width: 200px;
            height: 32px;
        
            color: #dddddd;
            border: none;
            border-radius: 2px;
            background-color: #353535;
            
            transition: color .1s linear;


            &:hover {
                color: white;
                background-color: #5a5a5a;
                cursor: pointer;
            
                transition: background-color .2s linear, color .2s linear;
            }
        }
    }
}