.div {
    padding: 20px 0 18px 0;
    position: fixed;
    bottom: 0;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid 1px gray;
    background-color: #1b1b1b;
    z-index: 2147483647;

    overflow-x: auto;

    font-family: monospace;


    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}