@import '../../global.scss';


.div {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: $height;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid 1px $gray02;
    background-color: $gray01;

    font-family: monospace;
    font-size: 13px;


    & nav {
        position: absolute;
        left: 0;
        bottom: 0;

        display: flex;
        justify-content: center;


        & a {
            display: block;
            padding: 5px;

            border-radius: 3px;

            
            &:hover {
                cursor: pointer;
                background-color: #4b4b4b;
            }

            & img {
                width: 25px;
            }
        }
    }
}